<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FCC Pro | Gymandnutrition.com.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F59A8DD31E91D99C00498FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A8DE71E91D99D00498FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59A8DF21E91D99D00498FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
